
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
.logo {
  width: 100px;
 
  transition: width 0.3s, height 0.3s; /* Add transition property for width and height */
}

.logo:hover {
  width: 50px;
  height: 100px;
}


.nav-item {
  padding: 0px 20px ;
}

.nav-item >ul{
  display: flex;
  list-style-type: none;
}

.nav-item >ul >li{
  padding: 10px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Input-container{
  padding: 10px;
  margin: 5px;
}

.res-card{
  width: 200px;
  height: 350px;
  border: 2px solid #f0f0f0;
  padding: 20px;
  margin: 5px;
}
.res-card:hover{
  border: 1px solid blue;
  cursor: pointer;
}
.res
{
  width: 100px;
}

.rest-container{
  display: flex;
  flex-wrap: wrap;
}

.shimer-container
{
  display: flex;
  flex-wrap: wrap;
}
.shimemr-card {
  margin: 5px;
  padding: 20px;
  width: 200px;
  height: 350px;
  background-color:#f0f0f0;
}
.Login{
  padding: 0 20px;
  cursor: pointer;
}
.Input-container{
  display: flex;
  margin: 5px;
  padding:5px;
  align-items: center; 
}
.search-btn{
  margin-right: 10px;
}
